<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div style="width: 100%; font-size: 14px;">
    <form class="ui form">
        <div class="two fields">
            <div class="field">
                <label>Employees</label>
                <select class="ui fluid dropdown" id = "employees">
                </select>
            </div>
            <div class="field">
                <label>Phone numbers</label>
                <ul class="ui list" id = "phone-numbers"></ul>
            </div>
        </div>
    </form>   
</div>

<script type = "text/x-handlebars-template" id = "employees-option">
    <option value="">--Select--</option>
    {{#each items}}
        <option value="{{id}}">{{firstName}} {{lastName}}</option>
    {{/each}}
</script>
<script type = "text/x-handlebars-template" id = "numbers-option">
    {{#each items}}
        <li value="{{number}}">{{number}}</li>
    {{/each}}
</script>

<script>
    jQuery(document).ready(() => {        
        var companyData = {
            employees: [
                {
                    "firstName": "Kevin",
                    "lastName": "Jackon",
                    "phoneNumbers": [
                        { "type": "home", "number": "7383627627" },
                        { "type": "work", "number": "345345" },
                        { "type": "work1", "number": "345345345" },
                    ],
                    id: 1
                },
                {
                    "firstName": "John",
                    "lastName": "Doe",
                    "phoneNumbers": [
                        { "type": "home", "number": "786789678656" },
                        { "type": "work", "number": "789690999999" },
                        { "type": "work1", "number": "5677686833" },
                    ],
                    id: 2
                },
                {
                    "firstName": "Chris",
                    "lastName": "Smoove",
                    "phoneNumbers": [
                        { "type": "home", "number": "345456456" },
                        { "type": "work", "number": "345234234345" },
                        { "type": "work1", "number": "4564578888" },
                    ],
                    id: 3
                }

            ]
        };


        var html1 = handleBarHtmlString(companyData.employees, "#employees-option");
        jQuery('#employees').find('option').remove().end().append(html1);
        jQuery("#employees").select2();
        
        var phone = (val) => {
            jQuery('#phone-numbers').html(handleBarHtmlString(companyData.employees.filter(emp => emp.id == val)[0].phoneNumbers, "#numbers-option"));
        }
        jQuery("#employees").on("change", function() {
            phone(jQuery(this).val());
        });
    });
    function handleBarHtmlString(data, scriptElement) {
        var template = jQuery(scriptElement).html();
        var compiledTemplate = Handlebars.compile(template);
        return compiledTemplate({items: data});
    }
</script>
